
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

:root{
    ---cor-de-fundo : #acf0aa;
    ---cor-da-fonte : #3f802f;
}

body{
    background-color: var(---cor-de-fundo);
    color: var(---cor-da-fonte);
    text-align: justify;

}